/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */


.slots {
    width: 320px !important;
    height: 300px !important;
    display: flex;
    justify-content: center;
    column-gap: 3px;




    .reel {
        width: 100px !important;
        height: 300px !important;
        background-image: url(../src/images/gamespin.png);
        background-size: 100%;
        background-repeat: repeat-y;
        background-position: 0 0;
        border-radius: 10px;
    }
}



@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('Inter')
}

body {
    font-family: 'Inter'
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

span.bonus-text {
    color: #FFF;
    -webkit-text-stroke: 3px #5C4300;
    text-shadow: 5.132px 5.132px 5.132px rgba(0, 0, 0, 0.50);
    text-align: right;
    font-size: 28.592px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.session-box {
    width: 430px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-Loading {
    background-image: url("../src/images/bg2.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 900px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-Modal {
    background-image: url("../src/images/bg1.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 900px;
    padding: 1rem;
    display: grid;
}

.background-Home {
    background-image: url("../src/images/bg6.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 900px;
    padding: 1rem;
}

.group-bnt {
    display: grid;
    justify-content: center;
    align-items: end;
    margin-top: 1rem;
}

.logo-head {
    background-image: url("../src/images/logo2.png");
    background-size: 100% 100%;
    background-position: center;
    width: 404px;
    height: 186px;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.icon-group-modal {
    display: flex;
    justify-content: flex-end;
}

.logo-load {
    width: 258px;
    height: 78px;
    margin: 2rem auto;
}

.bnt-game {
    background-image: url("../src/images/bnt.png");
    background-size: 100% 100%;
    background-position: center;
    width: 187px;
    height: 89px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.bnt-game:hover {
    background-image: url("../src/images/bnt1.png");
    background-size: 100% 100%;
    background-position: center;
    width: 187px;
    height: 89px;
    cursor: pointer;
    margin-bottom: 5rem;
}

.session-group- {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 100%;
    align-items: end;
    margin-bottom: 1rem;
}

.bg-bonus {
    background-image: url("../src/images/bg-bonus.png");
    background-size: 100% 100%;
    background-position: center;
    width: 382px;
    height: 160px;
    padding: 6rem 1rem 1rem 12rem;
}

.bt-spin {
    background-image: url(../src/images/bnt-spin.png);
    background-size: 100% 100%;
    background-position: center;
    width: 220px;
    height: 150px;
    cursor: pointer;
    margin: auto;

}

.bt-spin:hover {
    background-image: url(../src/images/bnt-spin1.png);
    background-size: 100% 100%;
    background-position: center;
    width: 220px;
    height: 150px;
    cursor: pointer;
    margin: auto;

}

.icon-head {
    display: flex;
    justify-content: space-between;
}

.icon-music {
    background-image: url(../src/images/icon-music.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 51px;
    cursor: pointer;
}

.icon-close {
    background-image: url(../src/images/icon-close.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.icon-close-modal {
    background-image: url(../src/images/icon-close.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.icon-group-modal- {
    bottom: 7rem;
    display: grid;
    grid-gap: 1rem;
}

.icon-home-modal {
    background-image: url(../src/images/icon-home.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}

.icon-music-modal {
    background-image: url(../src/images/icon-music.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}



.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-image: url(../src/images/popup.png);
    background-size: 100% 100%;
    background-position: center;
    width: 392px;
    height: 270px;
    margin-bottom: 5rem;
}

.close {
    background-image: url(../src/images/closepop.png);
    background-size: 100% 100%;
    background-position: center;
    width: 74px;
    height: 60px;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
}

.group-close- {
    display: flex;
    justify-content: end;
}

.group-text-popup {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
}

span.text-pop1 {
    color: #00B359;
    text-align: center;
    text-shadow: 5.132px 5.132px 5.132px rgba(0, 0, 0, 0.50);
    -webkit-text-stroke-color: #fff;
    font-family: Inter;
    font-size: 26.178px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

span.text-pop2 {
    color: #F90;
    -webkit-text-stroke: 2px #FFF;
    text-shadow: 5.132px 5.132px 5.132px rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 52.592px;
    font-weight: 900;
    line-height: normal;
}




@media screen and (max-width: 500px) {

    .session-box,
    .background-Loading,
    .background-Modal,
    .background-Home {
        width: 100%;
        height: 100vh;
    }



    .group-logo-head {
        display: flex;
        justify-content: center;
    }

    .logo-head {
        width: 331px;
        height: 186px;
        margin-top: -1rem;
    }

    .bg-bonus {
        width: 380px;
        height: 162px;
        margin-top: -1rem;
        padding: 5.9rem 1rem 1rem 11rem;
    }

    .bt-spin {
        width: 214px;
        height: 149px;
        margin-top: -1rem;
    }

    .bt-spin:hover {
        width: 214px;
        height: 149px;
        margin-top: -1rem;
    }
}

@media screen and (max-width: 390px) {

    .session-box,
    .background-Loading,
    .background-Modal,
    .background-Home {
        width: 100%;
    }


    .logo-head {
        width: 331px;
        height: 165px;
    }

    .bg-bonus {
        width: 310px;
        height: 110px;
        margin-top: -1rem;
        padding: 3.5rem 1rem 1rem 10rem;
    }

    .bt-spin {
        width: 165px;
        height: 90px;
        margin-top: -1rem;
    }

    .bt-spin:hover {
        width: 165px;
        height: 90px;
        margin-top: -1rem;
    }

    .bnt-game,
    .bnt-game:hover {
        width: 172px;
        height: 74px;
        margin-bottom: 3.5rem;
    }

    .group-bnt {
        margin-top: 2rem;
    }

}