/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
span.bonus-text {
    color: #FFF;
    -webkit-text-stroke: 3px #5C4300;
    text-shadow: 5.132px 5.132px 5.132px rgba(0, 0, 0, 0.50);
    text-align: right;
    font-size: 28.592px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.session-box {
    width: 430px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-Loading {
    background-image: url("../src/images/bg2.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 932px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-Modal {
    background-image: url("../src/images/bg1.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 932px;
    padding: 1rem;
}
.background-Home {
    background-image: url("../src/images/bg6.png");
    background-size: 100% 100%;
    background-position: center;
    width: 430px;
    height: 932px;
    padding: 1rem;
}
.group-bnt {
    display: grid;
    justify-content: center;
    align-items: end;
}
.logo-head {
    background-image: url("../src/images/logo2.png");
    background-size: 100% 100%;
    background-position: center;
    width: 381px;
    height: 203px;
    margin-top: -1rem;
}
.icon-group-modal {
    display: flex;
    justify-content: flex-end;
}
.logo-load{
    width: 258px;
    height: 78px;
    margin: 2rem auto;
}
.bnt-game{
    background-image: url("../src/images/bnt.png");
    background-size: 100% 100%;
    background-position: center;
    width: 187px;
    height: 89px;
    cursor: pointer;
    margin: auto;
    position: fixed;
    bottom: 0rem;
    transform: translate(-50%, -200%);
    left: 50%;
}
.bnt-game:hover{
    background-image: url("../src/images/bnt1.png");
    background-size: 100% 100%;
    background-position: center;
    width: 187px;
    height: 89px;
    cursor: pointer;
    margin: auto;
    position: fixed;
    bottom: 0rem;
    transform: translate(-50%, -140%);
    left: 50%;
}
.bg-bonus {
    background-image: url("../src/images/bg-bonus.png");
    background-size: 100% 100%;
    background-position: center;
    width: 384px;
    height: 162.302px;
    padding: 6rem 1rem 1rem 12rem;
}
.bt-spin {
    background-image: url(../src/images/bnt-spin.png);
    background-size: 100% 100%;
    background-position: center;
    width: 210px;
    height: 145px;
    cursor: pointer;
    margin: auto;

}
.bt-spin:hover {
    background-image: url(../src/images/bnt-spin1.png);
    background-size: 100% 100%;
    background-position: center;
    width: 210px;
    height: 145px;
    cursor: pointer;
    margin: auto;

}
.icon-head {
    display: flex;
    justify-content: space-between;
}
.icon-music{
    background-image: url(../src/images/icon-music.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 51px;
    cursor: pointer;
}
.icon-close{
    background-image: url(../src/images/icon-close.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.icon-close-modal{
    background-image: url(../src/images/icon-close.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.icon-group-modal- {
    position: absolute;
    bottom: 7rem;
    display: grid;
    grid-gap: 1rem;
}
.icon-home-modal{
    background-image: url(../src/images/icon-home.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
.icon-music-modal{
    background-image: url(../src/images/icon-music.png);
    background-size: 100% 100%;
    background-position: center;
    width: 60px;
    height: 50px;
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .session-box,.background-Loading,.background-Modal,.background-Home {
        width: 100%;
        height: 100vh;
    }
    .bnt-game {
        transform: translate(-50%, -110%);
    }
    .bnt-game:hover {
        transform: translate(-50%, -110%);
    }
    .group-logo-head {
        display: flex;
        justify-content: center;
    }
    .logo-head {
        width: 331px;
        height: 186px;
        margin-top: -1rem;
    }
    .bg-bonus {
        width: 380px;
        height: 162px;
        margin-top: -1rem;
        padding: 5.9rem 1rem 1rem 11rem;
    }
    .bt-spin {
        width: 214px;
        height: 149px;
        margin-top: -1rem;
    }
    .bt-spin:hover {
        width: 214px;
        height: 149px;
        margin-top: -1rem;
    }
}
@media screen and (max-width: 380px){
    .session-box,.background-Loading,.background-Modal,.background-Home {
        width: 100%;
    }
    .bnt-game {
        transform: translate(-50%, -60%);
    }
    .bnt-game:hover {
        transform: translate(-50%, -60%);
    }
    .logo-head {
        width: 331px;
        height: 165px;
    }
    .bg-bonus {
        width: 310px;
        height: 110px;
        margin-top: -1rem;
        padding: 3.5rem 1rem 1rem 10rem;
    }
    .bt-spin {
        width: 165px;
        height: 90px;
        margin-top: -1rem;
    }
    .bt-spin:hover {
        width: 165px;
        height: 90px;
        margin-top: -1rem;
    }
}